@{
    Layout = "_Layout";
}

@{
    var user = (string) ViewData["User"];
}
<link href="/css/style.css"> 

<nav class="NavBar">
    <div >
         <ul>
            <li><a href='@Url.Action("Index","Home")'>Principal</a></li>
            <li><a href='@Url.Action("Index","Home")#Produto'>Planos e Preços</a></li>
            <li><a href='@Url.Action("Index","Home")#QuemSomos'>Quem Somos</a></li>
            <li><a href='@Url.Action("Index","Home")#Sac'>Sac </a></li>
            @if (string.IsNullOrEmpty(user))
            {
            <li><a href='@Url.Action("Login","Usuario")'>Login/Cadastro</a></li>
            }else{
                <li><a href='@Url.Action("Logout","Usuario")'>Logout</a></li>
                
                <li><a href='@Url.Action("Index","Comentarios")'>Comentarios</a></li>
            }       
         </ul>
    </div>
</nav>
